@inherits LayoutComponentBase

<FluentLayout>
    
    <FluentHeader Id="page-header">
        <img class="logo" src="Images/Icons/icon.svg" alt="Logo"/>
        Tournament Manager
        <FluentSpacer/>
        <LanguageSwitcher/>
    </FluentHeader>

    <FluentStack Class="main" Orientation="Orientation.Horizontal">
        
        <NavMenu/>
        
        <FluentBodyContent Class="body-content">
            <Breadcrumbs/>
            <div class="content-wrapper">
                <div class="content">
                    @Body
                </div>
                <Sidebar/>
            </div>

        </FluentBodyContent>

    </FluentStack>
    
</FluentLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>