@inherits LayoutComponentBase

@inject NavigationManager Navigation
@inject IJSRuntime JS

<FluentLayout>
    
    <FluentHeader Id="page-header">
        <img class="logo" src="Images/Icons/icon.svg" alt="Logo"/>
        MatchPoint
        <FluentSpacer/>
        <LanguageSwitcher/>
    </FluentHeader>

    <FluentStack Class="main" Orientation="Orientation.Horizontal">
        
        <NavMenu/>
        
        <FluentBodyContent Class="body-content">
            <!--<Breadcrumbs/>-->
            <div class="content-wrapper">
                <div class="content">
                    @Body
                </div>
            </div>
            
        </FluentBodyContent>
        <!--<Sidebar/>-->

    </FluentStack>
    
</FluentLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _isInitialized = false;

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender && !_isInitialized)
        {
            _isInitialized = true;
            Navigation.LocationChanged += async (_, __) =>
            {
                await Task.Delay(100); // Ensure UI is updated before scrolling
                await JS.InvokeVoidAsync("scrollToTop");
            };
        }
    }
}