.sidebar {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background: black;
    color: white;
    width: 260px;
    padding-top: 15px;
    position: fixed;
    height: calc(100vh - 217px);
    overflow-y: auto;
}

.sidebar p {
    margin-bottom: 0;
    font-weight: 600;
}

.sidebar h3 {
    text-align: center;
    font-weight: 670;
    color: #a5a4a4;
}
.tournament-tournament-name {
    font-size: 1.1rem;
}

.tournament-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgba(50, 50, 93, 0.25);
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
    padding: 10px 15px;
}

.tournament-wrapper:hover {
    background: var(--blackbackground-hover);
}

div.sidebar > div:last-child {
    border-bottom: 0 !important;
}

div.tournament-wrapper > div:last-child:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tournament-tournament-name {
    margin-bottom: 5px !important;
}

.tournament-date, .tournament-time {
    text-align: center;
}

.tournament-teams-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.tournament-team-image {
    width: 20px;
}

.tournament-status {
    color: red;
}

@media screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }
}