.sidebar {
    width: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background: black;
    color: white;
    right: 0;
    position: fixed;
    height: calc(100% - 50px);
    overflow-y: auto;
    padding-top: 10px;
}

.sidebar p {
    margin-bottom: 0;
    font-weight: 600;
}

.match-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid rgba(50, 50, 93, 0.25);
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
    padding: 10px 10px;
}

.match-wrapper:hover {
    background: var(--neutral-layer-3);
    background: var(--blackbackground-hover);
}

.matches-wrapper h3 {
    font-weight: 670;
    text-align: center;
    color: #a5a4a4;
}

.match-wrapper .live-status-wrapper {

}

div.matches-wrapper > div:last-child {
    border-bottom: 0 !important;
}

.match-tournament-name {
    margin-bottom: 5px !important;
}

.match-teams-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.team-image {
    width: 30px;
}

.versus-icon {
    width: 20px;
}

.match-date, .match-time {
    text-align: center;
    font-size: 0.9em;
    color: gray;
}

.match-status {
    color: red;
}

@media screen and (max-width: 968px) {
    .sidebar {
        display: none;
    }
}