.dialog-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.object-name-id-wrapper {
    display: flex;
    justify-content: space-between;
}

.dialog-object-name {
    font-size: 1.3em;
    font-weight: 600;
}

.dialog-object-id {
    color: gray;
}

.image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-object-image {
    width: 200px;
}


