.dialog-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.object-name-id-wrapper {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.dialog-object-name {
    font-size: 1.3em;
    font-weight: 600;
}

.dialog-object-id {
    color: gray;
    text-align: end;
}

.image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-object-image {
    width: 200px;
}

.dialog-section-name {
    margin-bottom: 0;
}

.object-name-id-wrapper h4,
.object-name-id-wrapper h6 {
    margin-bottom: 0;
}

.dialog-hint-text {
    color: gray;
    font-size: 0.9em;
}

