@page "/"
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Strings> Localizer

<PageTitle>Home</PageTitle>

<h1>@Localizer["WelcomeMessage"]</h1>

Welcome to your new Fluent Blazor app.