.tournament-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tournament-page-wrapper h2 {
    padding: 20px 0 10px 0;
    font-weight: 650;
    font-size: 3rem;
    letter-spacing: 3px;
    line-height: 3rem;
}

.header {
    margin-bottom: 5px;
}

.tournament-information {
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-between;
    gap: 2em;
    padding: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: white;
    min-width: 150px;
    gap: 5px;
}

.wrapper-title {
    color: lightgray;
    opacity: 0.8;
}

.tournament-teams {
    width: 80%;
}

.tournament-teams-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    background-color: black;
    color: white;
    width: 100%;
    margin: 0 auto;
}

.team-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 15px;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
}

.team-name {
    padding-top: 10px;
    cursor: pointer;
    font-size: 1.1em;
}

.team-image {
    width: 70%;
    padding: 30px;
}

.team-ranking {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    border-bottom-left-radius: 5px;
    width: 35px;
    text-align: center;
}

.team-card-players {
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    height: calc(100% - 40px);
    background-color: black;
    width: inherit;
    opacity: 0.8;
    display: none;
    padding: 20px;
    bottom: 0;
    border-top: 1px solid gray;
}

.team-card-wrapper:hover .team-card-players {
    display: flex;
}

.player-name {
    cursor: pointer;
    width: fit-content;
}

.bracket-wrapper {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    border-radius: 10px;
    overflow-x: auto;
}

.rounds-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.match-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: var(--blackbackground-hover);
    padding: 5px 10px 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    min-width: 140px;
    position: relative;
}

.match-wrapper:hover {
    outline: 1px solid gray;
}

.team-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    text-wrap: nowrap;
}

.team-wrapper img {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.score {
    margin-left: auto;
}

.bracket-information {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    width: 100%;
}

.tournament-information-wrapper,
.brackets-wrapper,
.tournament-teams {
    position: relative;
    width: 70%;
    margin-bottom: 2rem;
}

.winner-team {
    border-left: 2px solid #52b352;
}

.loser-team {
    opacity: 0.5;
}

.match-information-wrapper {
    font-size: 0.7em;
    opacity: 0.6;
    margin-left: 5px;
}

.match-time {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 0.8em;
    opacity: 0.6;
}

.object-type, .object-game {
    background: padding-box linear-gradient(var(--neutral-fill-input-rest), var(--neutral-fill-input-rest)), border-box var(--neutral-stroke-input-rest);
    border: calc(var(--stroke-width)* 1px) solid transparent;
    border-radius: calc(var(--control-corner-radius)* 1px);
    height: calc((var(--base-height-multiplier) + var(--density))* var(--design-unit)* 1px);;
}

.admin-button {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    transform: translateY(-10px);
}

@media screen and (max-width: 1500px) {
    .team-card-players {
        padding: 5px;
    }

    .tournament-information-wrapper,
    .brackets-wrapper,
    .tournament-teams {
        width: 85%;
    }
}

@media screen and (max-width: 1300px) {
    .tournament-teams-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .team-card-players {
        padding: 5px;
    }

    .tournament-information-wrapper,
    .brackets-wrapper,
    .tournament-teams{
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .tournament-teams-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1100px) {
    .match-wrapper {
        font-size: 0.8em;
    }
    .rounds-wrapper {
        justify-content: left;
    }
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 450px) {
    .tournament-teams-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .team-card-wrapper {
        min-width: 0.5em;
    }

    .team-card-players {
        padding: 0;
    }

    .tournament-information-wrapper,
    .brackets-wrapper,
    .tournament-teams {
        width: 100%;
    }
    
    .match-wrapper {
        font-size: 0.7em;
        padding: 3px;
    }
}